<h1>Restaurant: <%= @restaurant.name%> </h1>

<%= render @restaurant %>

<h2>All Reviews for <%= @restaurant.name%> </h2>
<ul>
  <% @restaurant.reviews.each do |review|%>
  <li>
  <%= review.content %>
  <%= link_to 'delete', review_path(review), data: { turbo_method: :delete }  %>
  </li>
  <% end %>
</ul>
<%= link_to 'add a review', new_restaurant_review_path(@restaurant) %>
<%= link_to 'edit', edit_restaurant_path(@restaurant) %>
<%= link_to 'back', edit_restaurant_path %>
<%= link_to 'delete', @restaurant, method: :delete %>
